<div class="container">
    <div class="content" *ngIf="order">
        <h1>Pedido #{{order.id}}</h1>
        <div class="details">
            <div><strong>Data</strong> {{order.createdAt | date : 'dd/MM/yyyy - HH:mm'}}</div>
            <div><strong>Nome</strong> {{order.name}}</div>
            <div><strong>Endereço</strong> {{order.address}}</div>
            <div><strong>Situação</strong> {{order.status}}</div>
            <div *ngIf="order.paymentId">
                <strong>ID De Pagamento</strong> {{order.paymentId}}
            </div>
        </div>
        <order-items-list [order]="order"></order-items-list>
    </div>
    <div>
        <app-title title="Endereço Para Envio"></app-title>
        <map [order]="order" [readonly]="true"></map>
    </div>
</div>