<div class="container">
    <div class="details">
        <app-title title="Registro"></app-title>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <text-input
                [control]="fc.name"
                [showErrorsWhen]="isSubmitted"
                label="Nome">`
            </text-input>

            <text-input
                [control]="fc.email"
                [showErrorsWhen]="isSubmitted"
                label="E-mail"
                type="email">`
            </text-input>

            <text-input
                [control]="fc.password"
                [showErrorsWhen]="isSubmitted"
                label="Senha"
                type="password">`
            </text-input>

            <text-input
                [control]="fc.confirmPassword"
                [showErrorsWhen]="isSubmitted"
                label="Confirmação de Senha"
                type="password">`
            </text-input>

            <text-input
                [control]="fc.address"
                [showErrorsWhen]="isSubmitted"
                label="Endereço">`
            </text-input>

            <default-button text="Registre-se"></default-button>

            <div class="login">
                Já é um usuário? &nbsp;
                <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
                    Entre aqui
                </a>
            </div>
        </form>
    </div>
</div>